{% load static %}
<div class='border-right border-danger h-100'>
				
				<h3 class='ft text-light mt-3 text-center'>DEMO TECHNOLOGIES</h3>
				<hr class='bg-light'>
			<nav class='nav flex-column text-center nav-fill w-100 navbar-fixed-top'>
				{% if user.is_authenticated %}
				<a href='/view_profile/' class='nav-link text-light'>My-Profile</a>
				<a href='/create-todo/' class='nav-link text-light'>Create New TO-DO</a>
				<a href='/todolist/' class='nav-link text-light'>ALL TASKS</a>
				
				<a href='/todaylist/' class='nav-link text-light'>TODAY'S TASK</a>
				<a href='/weeklist/' class='nav-link text-light'>WEEKLY TASK VIEW</a>
				<a href='/users/logout/' class='nav-link text-light'>Logout</a>
					{% else %}
					<a href='/users/login/' class='nav-link text-light'>Login</a>
					<a href='/users/signup/' class='nav-link text-light'>SIGNUP</a>
					<br><br><br><br>
				{% endif %}
				<br><br><br><br><br><br><br><br><br><br><br><br><br>
			</nav>
		</div>